*{
  font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 /* background-image: url('./img/pokemon.webp'); */
}


  #homepage{

    width: 100%;
    height: 100vh;
    background: url(/img/pokemon.webp) center no-repeat ; 
    /* transform: scaleX(-1); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: right .2px bottom .5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #homepage-con{
    box-shadow: 6px 6px 20px rgba(12, 12, 12, 0.212);
    border-radius: 20px;
    width: 60%;
    height: 70vh;
    background-color: #faa307;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right bottom, 
    rgba(253, 255, 182, 0.6), 
    rgba(253, 255, 182, 0.7));
    box-shadow: 1px 1px 30px rgba(12, 12, 12, 0.3);
    /* rgba(255, 255, 255, 0.7), 
    rgba(250 ,255, 255, 0.2)); */
  }

  .search{
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
    width: 100%;
    height: 15%;
    background: linear-gradient(to right bottom, 
    rgba(252, 163, 17, 0.7), 
    rgba(252, 163, 17, 0.7));
    display: flex;
    
    align-items: center;
    justify-content: space-evenly;
  }
  .search-input{
    background: linear-gradient(to right bottom, 
    rgba(253, 255, 182, 0.6), 
    rgba(253, 255, 182, 0.7));
    border-radius: 1rem;
    width: 25%;
    height: 30%;
    padding: 0.5rem;
    border: none
  }
  .search-btn{
    font-weight: 500;
    color:#f35b04;
    cursor: pointer;
    background: linear-gradient(to right bottom, 
    rgba(253, 255, 182, 0.6), 
    rgba(253, 255, 182, 0.7));
    border: none;
    min-width: 10px;
    height: 35%;
    border-radius: .5rem;
  }
  .desc{
    width: 530px;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: blueviolet;
  }

  button{
    width: 170px;
  }
 
  